.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20%;
  background: #9dadff;
  height: 50px;
}

.active{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  height: 30px;
  width: 90px;
  background-color: #d1fc49;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #595959;
}
